@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-color: #002339;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 700px;
}

.display {
  width: 100%;
  background-color: #fff;
  color: #333;
  margin-top: 3rem;
  margin-bottom: 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-radius: 8px;
}

.container h1 {
  font-weight: 500;
  font-size: 3em;
}

.container h1 span {
  color: #019f55;
  padding-bottom: 0.35rem;
  border-bottom: 4px solid #019f55;
}

.display img {
  width: 2rem;
  cursor: pointer;
}

.display input {
  border: 0;
  outline: 0;
  font-size: 1.75rem;
  width: 100%;
}

.container button img {
  width: 1.75rem;
  margin-right: 1rem;
}

.container button {
  border: none;
  outline: none;
  background-color: #019f55;
  color: white;
  font-size: 1.75rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media (max-width: 431px) {
  .container h1 {
    font-size: 2rem;
  }

  .display {
    position: relative;
  }

  .display img {
    position: absolute;
    right: 1rem;
  }

  .container button {
    font-size: 1.5rem;
  }
}
